# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Microsoft builds, logs and objects
/Debug/*

# Microsoft Visual Studio files
*.sdf
*.opensdf
*.sln
*.suo
*.vcxproj
*.filters
*.vsp
*.vcxproj.user

# Microsoft Visual Studio analysis files
*.psess

# StarUML design
*.~ml
*.uml

# Cppcheck project files
*.cppcheck

# CMake files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
/build/*

# VIM files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
